# Keep these files out of the repo
/proposal
/wp-content/themes/twenty*
/wp-content/upgrade
/wp-content/uploads
/wp-content/mu-plugins
/wp-content/wflogs/
/sitemap.*
/wp-config.php
/wp-config-sample.php
/.htaccess
/.idea
*.sql

# Hidden files
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
error_log
